.cover {
	height: 447px;
	position: relative;

	&:after {
		// margin-left: -960px;
		position: absolute;
		content: "\0020";
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		// left: 50%;
		background: url(../images/cover.jpg) no-repeat 50%;
		z-index: 9;
		}
	}

	.cover-content {
		height: 447px - 28px;
		padding-top: 28px;
		position: relative;
		z-index: 10;
		}

		.cover-txt {
			height: 65px -9px;
			// padding-top: 12px;
			// padding-bottom: 65px - 45px - 12px;
			margin-bottom: 9px;
			padding: 9px 22px 11px 17px;
			float: left;
			background: rgba(#201f1f, .82);
			line-height: 45px;
			font-size: 45px;
			font-family: $font-PTSerif;
			color: #fff;
			text-transform: uppercase;
			clear: left;
			}

	.cover .formsign {
		position: absolute;
		bottom: 0;
		left: 0;
		}
