.formsign {
	width: 388px - 18px - 18px;
	height: 251px - 16px - 31px;
	padding: 16px 18px 31px;
	background: rgba(#201f1f, .82);
	position: relative;

	input {
		margin: 20px 0 -5px;
		padding: 0 14px;
		border: 0;
		outline: none;
		}
	input[type=text] {
		width: 352px - 14px - 14px;
		height: 39px;
		display: block;
		font-size: 19px;
		font-family: $font-PTSans;
		color: #909090;
		line-height: 45px;
		border-radius: 6px;
		box-shadow: inset 2px 2px 0 #737373;
		background: #ffffff;

		&._notvalid {
			background: #ffb4b3;
			color: #404040;

			&::-webkit-input-placeholder {
				color: #404040;
				}
			&:-moz-placeholder {
				color: #404040;
				}
			}
		}
	input[type="submit"] {
		width: 388px - 18px - 18px;
		height: 39px;
		padding: 0;
		margin-bottom: 0;
		position: absolute;
		bottom: 31px;
		border-radius: 6px;
		line-height: 39px;
		font-size: 22px;
		font-family: $font-PTSerif;
		font-weight: bold;
		color: #fdd016;
		@include background(linear-gradient(bottom, #930d03, #f54b3e));
		box-shadow: 0 -1px 0 #f97f76;
		cursor: pointer;
		}
	}
	.formsign input[type="submit"]:hover {
		@include background(linear-gradient(bottom, #920d03, #bf0f01));
		}
	.formsign-title {
		font-size: 28px;
		font-family: $font-PTSerif;
		color: #fdd016;
		text-align: center;
		}
