footer {
	height: 109px;
	position: relative;
	background: #fdd016;

	&:before {
		width: 100%;
		height: 2px;
		position: absolute;
		top: 3px;
		content: "\0020";
		background: #b40c09;
		}
	&:after {
		width: 100%;
		height: 1px;
		position: absolute;
		top: 5px;
		content: "\0020";
		background: #f8c315;
		}
	}

	.footer-slogan {
		font-size: 29px;
		font-family: $font-PTSerif;
		color: #b40c09;
		text-transform: uppercase;
		text-align: center;
		line-height: 109px;
		}

	.footer-copyright {
		position: absolute;
		bottom: 9px;
		left: 27px;
		font-size: 12px;
		font-family: $font-PTSans;
		color: #d8b008;
		}
