header {
	height: 204px;
	position: relative;
	}
	.header-logo {
		width: 141px;
		height: 131px;
		display: block;
		position: absolute;
		top: 32px;
		left: 19px;

		img {
			display: block;
			}
		}

	.header-timer {
		// width: 489px;
		text-align: right;
		position: absolute;
		top: 52px;
		right: 29px;
		font-size: 0;
		font-family: $font-PTSans;

		.cntSeparator {
			width: 4px;
			display: block;
			font-size: 1px;
		  overflow: hidden;
		  color: transparent;
		  text-indent: -100px;
		  }
		.cntDigit {
			margin-left: 1px;
			}

		p {
			margin-bottom: 13px;
			text-transform: uppercase;
			font-size: 19px;
			// font-family: $font-PTSans;
			font-weight: bold;
			}
		span {
			width: 75px;
			position: relative;
			top: 7px;
			margin-left: 7px;
			// font-family: $font-PTSans;
			text-transform: uppercase;
			font-size: 12px;
			color: #909090;
			text-align: center;
			display: inline-block;

			&.header-timer-1 {
				margin: 0;
				left: -22px;
				}
			&.header-timer-2 {
				margin: 0;
				left: -16px;
				}
			&.header-timer-3 {
				margin: 0;
				left: -8px;
				}
			&.header-timer-4 {
				margin: 0;
				left: -2px;
				}
			}
		}

	#counter {
		width: 325px;
		right: -1px;
		position: relative;
		}

	.header-members {
		width: 195px;
		position: absolute;
		top: 54px;
		left: 247px;
		font-size: 19px;
		font-family: $font-PTSans;
		line-height: 27px;

		p:nth-child(1) {
			height: 34px;
			margin-bottom: 16px;
			line-height: 34px;
			}
		p:nth-child(2) {
			margin-left: 1px;
			}

		b {
			height: 34px;
			padding-left: 44px;
			padding-bottom: 4px;
			line-height: 34px;
			display: inline-block;
			vertical-align: bottom;
			background: url(../images/icon-people.png) no-repeat 0 0;
			font-size: 32px;
			font-family: $font-Ubuntu;
			font-weight: 500;
			}
		}
