.shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba(#131313, .79);
	opacity: 0;
	cursor: pointer;
	// @include transition(opacity .3s ease-out);
	}
.-popup .shadow {
	opacity: 1;
	z-index: 2001;
	}

.popup {
	width: 340px;
	height: 225px;
	padding: 66px 73px 0;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: -132px;
	margin-left: -170px;
	z-index: 1001;
	@include box-sizing(border-box);
	background: rgba(#fff, .84);

	font-size: 20px;
	font-family: $font-PTSerif;
	line-height: 28px;
	text-align: center;
	opacity: 0;
	// @include transition(opacity margin-top .3s ease-out);
	}
.-popup .popup {
	margin-top: -112px;
	opacity: 1;
	z-index: 2002;
	}
	.popup-close {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 8px;
		right: 11px;
		background: url(../images/icon-close.png) no-repeat 0 0;
		cursor: pointer;

		&:hover {
			background-position: 100% 100%;
			}
		}
