.reasons {
	overflow: hidden;
	padding-bottom: 83px;

	b {
		font-weight: bold;
		}

	ul {
		@extend .clearfix;
		font-size: 19px;
		font-family: $font-PTSans;
		line-height: 26px;
		}

	li {
		width: 298px;
		padding-top: 246px;
		float: left;
		text-align: center;
		position: relative;

		&:before {
			display: block;
			content: "\0020";
			position: absolute;
			top: 71px;
			left: 81px;
			}
		}
	}

	.reasons .-eq1 {
		left: -10px;
		&:before {background-position: 0 0;}
		}
	.reasons .-eq2 {
		left: 6px;
		&:before {left: 78px; background-position: -142px 0;}
		}
	.reasons .-eq3 {
		left: 6px;
		&:before {left: 80px; background-position: -284px 0;}
		}
