.redline {
	height: 341px;
	background: #b40c09 url(../images/redline-ornament.png) no-repeat 50% 0;

	.formsign {
		position: absolute;
		top: 46px;
		right: 28px;
		}
	}

	.redline-content {
		font-size: 19px;
		font-family: $font-PTSans;
		line-height: 27px;
		color: #ffffff;

		b, span {
			display: block;
			text-transform: none;
			}
		b {
			color: #fdd016;
			font-weight: bold;
			}
		}

	.redline.-eq4 .redline-content {
		width: 285px;
		position: absolute;
		top: 102px;
		left: 27px;
		text-transform: uppercase;

		span {
			display: block;
			text-transform: none;
			}
		}

	.redline.-eq6 .redline-content {
		width: 305px;
		position: absolute;
		left: 27px;
		top: 80px;

		span {
			color: #fdd016;
			text-transform: uppercase;
			}
		}
