.steps {
	padding-bottom: 56px;

	ul {
		padding-top: 60px;
		counter-reset: list 0;
		}
	li {
		margin-bottom: 52px;
		padding: 33px 0 0 215px;
		position: relative;
		}
	li:after {
		display: block;
		content: "\0020";
		position: absolute;
		top: 4px;
		left: 28px;
		background-position: 0 -142px;
		}
	li:before {
		width: 45px;
		height: 45px;
		display: block;
		background: #404040;
		color: #fff;
		border-radius: 50px;
		position: absolute;
		top: 22px;
		left: 216px;

		counter-increment: list 1;
		content: counter(list);
		line-height: 45px;
		font-size: 29px;
		font-family: $font-Ubuntu;
		text-align: center;
		}

	p {
		margin-right: 30px;
		margin-top: 26px;
		font-size: 19px;
		line-height: 27px;
		font-family: $font-PTSans;
		}
	}

	.steps-title {
		margin-left: 60px;
		font-size: 21px;
		font-family: $font-PTSerif;
		text-transform: uppercase;
		}

	p.steps-small {
		margin-top: 0;
		font-size: 15px;
		}

	.steps .-eq2 {
		margin-bottom: 40px;
		&:after {top: 12px;background-position: -142px -142px;}
		}

	.steps .-eq3 {
		p {
			margin-right: 70px;
			}
		&:after {background-position: -284px -142px;}
		}
