@charset "utf-8";

@import "compass";

@include global-reset;

$max-width: 969px;
$inner-width: 894px;

$font-PTSerif: "PT Serif", serif;
$font-PTSans: "PT Sans", sans-serif;
$font-Ubuntu: "Ubuntu", sans-serif;

body {
  background: #fff;
  color: #404040;
  }

#wrapper {
	min-width: $max-width;
	margin: auto;
	position: relative;
	z-index: 2000;
	}

	.inner {
		width: $inner-width;
		margin: auto;
		position: relative;
		}

.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
		}
	&:after {
		clear: both;
		}
	}

@import "b_formsign";

.content-title {
	margin-top: 75px;
	font-size: 32px;
	font-family: $font-PTSerif;
	color: #404040;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	line-height: 32px;

	&:after {
		width: 100%;
		height: 1px;
		display: block;
		content: "\0020";
		position: absolute;
		top: 16px;
		background: #909090;
		}

	span {
		display: inline-block;
		position: relative;
		z-index: 100;
		background: #fff;

		&:before,
		&:after {
			width: 27px;
			height: 24px;
			display: block;
			content: "\0020";
			position: absolute;
			z-index: 101;
			top: 3px;
			background: #fff url(../images/icon-tree.png) no-repeat 0 0;
			}
		&:after {
			right: -27px - 24px;
			padding-left: 24px;
			background-position: 100% 100%;
			}
		&:before {
			left: -27px - 24px;
			padding-right: 24px;
			}
		}
	}

.reasons li:before,
.steps li:after {
	width: 142px;
	height: 142px;
	background: url(../images/icon-circles.png) no-repeat 0 0;
	}

@import "b_header";
@import "b_cover";
@import "b_reasons";
@import "b_steps";
@import "b_redline";
@import "b_footer";
@import "b_popup";
