<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "" %></title>

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <%= javascript_include_tag  "jquery.countdown", "all" %>
  </head>
  <body>
    <%= yield %>
    <div class="popup"><p></p><div class="popup-close"></div></div>
    <div class="shadow"></div>
  </body>
</html>
