---
title:
---

<div id="wrapper">
	<header class="inner">
		<a href="" class="header-logo"><%= image_tag "logo.png" %></a>
		<div class="header-members">
			<p><b>173</b> чел.</p>
			<p>хотят суши в Фудзияме<br>на Новый год</p>
		</div>
		<div class="header-timer">
			<p>Заканчиваем прием заявок через</p>
			<div id="counter"></div>
			<span class="header-timer-1">дней</span>
			<span class="header-timer-2">часов</span>
			<span class="header-timer-3">минут</span>
			<span class="header-timer-4">секунд</span>
		</div>
	</header>

	<div class="cover">
		<div class="cover-content inner">
			<p class="cover-txt">Новый год</p>
			<p class="cover-txt">вместе с “Фудзияма”</p>
			<%= partial "includes/formsign" %>
		</div>
	</div>

	<div class="reasons inner">
		<h2 class="content-title"><span>3 причины оставить заявку уже сейчас</span></h2>
		<ul>
			<li class="-eq1">Чем раньше вы оставите<br>заявку, тем <b>более удобное<br>время доставки выберите.</b><br>Завтра мест может не остаться!</li>
			<li class="-eq2">Оставляя заявку, вы<br>гарантированно получите<br>31 декабря <b>ролл Новогодний<br>от бренд-шефа в подарок!</b></li>
			<li class="-eq3">31 декабря мы будем<br>доставлять <b>только<br>предварительные заказы.</b><br>Не упустите свой шанс!</li>
		</ul>
	</div>

	<div class="redline -eq4"><div class="inner">
		<div class="redline-content">
			<span>Если вы хотите</span>насладиться вкусными роллами 31 декабря и украсить новогодний стол - <b>оставьте заявку прямо сейчас!</b>
		</div>
		<%= partial "includes/formsign" %>
	</div></div>

	<div class="steps inner">
		<h2 class="content-title"><span>Когда вы оставите нам заявку</span></h2>
		<ul>
			<li class="-eq1">
				<span class="steps-title">Наш менеджер перезвонит вам</span>
				<p>в течение 12 часов, уточнит все детали вашего заказа и выберет удобное для вас время доставки</p>
			</li>
			<li class="-eq2">
				<span class="steps-title">вы определитесь с заказом</span>
				<p>на нашем сайте www.sushifuji.ru и оформите его, добавив в корзину все интересующие вас позиции японской кухни*</p>
				<p class="steps-small">*минимальная сумма заказа 31 декабря от 1000 руб., в отдаленных районах - от 1500 руб.</p>
			</li>
			<li class="-eq3">
				<span class="steps-title">мы вовремя доставим ваши роллы 31 декабря</span>
				<p>и вы встретите наступающий Новый год вместе с любимой Фудзиямой. 31 декабря доставка будет осуществляться с 10:00 до 21:00</p>
			</li>
		</ul>
	</div>

	<div class="redline -eq6"><div class="inner">
		<div class="redline-content">
			<span>Новый год уже скоро!</span>
			<p>Хотите гарантированное получить аппетитные роллы 31 декабря?</p>
			<span>Закажите их прямо сейчас!</span>
			<p>Чем раньше вы оставите заявку, тем более удобное время доставки вы выберите. Потом будет поздно!</p>
		</div>
		<%= partial "includes/formsign" %>
	</div></div>

	<footer><div class="inner">
		<p class="footer-slogan">с фудзиямой в новый год!</p>
		<p class="footer-copyright">Доставка суши в Уфе, 2013</p>
	</div></footer>
</div>
